[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
djlint = "*"
black = "*"
celery = "*"
flask-babel = "*"
flask-wtf = "*"
python-dotenv = "*"
faker = "*"
flask-script = "*"

[dev-packages]

[requires]
python_version = "3.10"
